<div class="session">
<%= simple_form_for @message do |f| %>
  <div class="field">
    <%= f.input :content, :label => 'Recomendación', :as => :text, :input_html => { :rows => 7, :class => 'resizable' }, :placeholder => 'Escribe tu Recomendación u opinión' %>
    <%= hidden_field_tag(:para, "jamthebest") %>
  </div>

  <input class="btn btn-primary" id="button" type="submit" value="Enviar!">
<% end %>

<a class="btn btn-inverse" id="button" href=<%=messages_path%>><i class="icon-arrow-left icon-white"></i> Mensajes </a>
<a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
</div>

<div class="comeface">
	<div class="fb-comments" data-href="https://www.facebook.com/jamthebest221" data-num-posts="3" data-width="450"></div>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</div><br>