<div class="inicio">
  <h1 class="titulo">Notificaciones</h1><br>
</div>

<div class="tabla">
<%- model_class = Notification.new.class -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Descripción</th>
      <th>De</th>
      <th>Fecha</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.tipo==1 ? "Reporte" : (notification.tipo==2 ? "Notificación" : "Nada" ) %></td>
        <td><strong><%= (notification.contenido.slice(0..20) + (!notification.leido ? " (Nuevo)" : "" )) %></strong></td>
        <td><%= link_to User.find(notification.de).username, user_path(notification.de) %></td>
        <td><%= notification.created_at.strftime("%d-%m-%Y") %></td>
        <td><a class="btn btn-info" id="button" href=<%=notification_path(notification.id)%>><i class="icon-search icon-white"></i> Ver </a>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      notification_path(notification),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Seguro?')),
                      :class => 'btn btn-danger',
                      :id => "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a class="btn btn-inverse" id="button" href=<%=user_path(current_user.id)%>><i class="icon-arrow-left icon-white"></i> Atrás </a>
<a class="btn btn-primary" id="button" href=<%=new_frase_path%>> Expresarme! </a><br>
<br>
</div>
<div class="final"><br></div>