<div class="userform">
<%= simple_form_for(@user) do |f| %>
  <%= f.input :nombre %>
  <%= f.input :apellido %>
  <%= f.input :fecha_nac, :label =>'Fecha de Nacimiento', :as => :date, :start_year => Date.today.year - 100,
          :end_year => Date.today.year, 
          :order => [:day, :month, :year] %>
  <%= f.input :username, :placeholder => 'Nombre para Identificarte'%>
  <%= f.input :email, :placeholder => 'Tu correo electrónico'%>
  <%= f.input :password, :placeholder => 'Contraseña'%>
  <%= f.input :password_confirmation, :placeholder => 'Ingresa la contraseña nuevamente' %>
  <% if logged_in? && (current_user.tipo.eql? "Administrador") %>
    <%= f.input :tipo %>
  <% else %>
    <%= hidden_field_tag(:tipo, "Usuario") %>
  <% end %>
  <input class="btn btn-primary" id="button" type="submit" value="Listo!">
<% end %>
</div>