<div class="inicio">
  <h1 class="titulo">Usuarios</h1><br>
</div>

<div class="tabla">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Username</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Creación</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.nombre %> <%= user.apellido %></td>
        <td><%= user.tipo %></td>
        <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
        <td><a class="btn btn-success" href=<%=edit_user_path(user.id)%>><i class="icon-pencil icon-white"></i> Editar </a>
        <td><a class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" href=<%=user_path(user.id)%>><i class="icon-trash icon-white"></i> Borrar </a></td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <a class="btn btn-inverse" href=<%=root_url%>><i class="icon-arrow-left icon-white"></i> Inicio </a>
  <a class="btn btn-primary" href=<%=new_user_path%>> Nuevo Usario </a>
  <br>
</div>
<div class="final"><br></div>