<div class="autent" class="user">
<p class="titulouser">
  <br><strong>Username:</strong>
  <%= @user.username %>
</p>
<div class="foto"><%= image_tag @user.photo.url(:show), :class => "photo" %></div>
<div class="noti">
  <% if logged_in? && current_user.id == @user.id %>
    <a class="btn btn-warning" id="button" href=<%=notifications_path%>><i class="icon-search icon-white"></i> Notificaciones </a>
  <%end%><br><br>
</div>

<% if logged_in? && (current_user.id == @user.id || (current_user.tipo.eql? "Administrador")) %>
<div class="libros">
    <br>
    <a class="btn btn-danger" id="button" data-confirm="Are you sure?" data-method="delete" href=<%=user_path(@user.id)%>><i class="icon-trash icon-white"></i> Borrar Usuario </a>
    <a class="btn btn-success" id="button" href=<%=edit_user_path(@user.id)%>><i class="icon-pencil icon-white"></i> Editar Perfil </a>
    <br><hr>
  <p><h3 id="cont">Mis Expresiones:</h3></p>
  <div class="lista">
    <ol>
      <%(Frase.where user_id: @user.id).each do |frase|%>
        <li><h4><strong><%= link_to "#{frase.descripcion.slice(0..40)}", frase_path(frase.id) %></strong></h4></li><br>
      <% end %>
    </ol>
  </div>
  <br>
</div>
<%end%>
<hr>
<div class="infor">
<% if !current_user || current_user.id != @user.id %></p>
  <p><strong class="datos">Nombre:</strong> <%=@user.nombre%> <%=@user.apellido%></p>
  <p><strong class="datos">Fecha de Nacimiento:</strong> <%=@user.fecha_nac.strftime("%d-%m-%Y")%></p>
  <p><strong class="datos">E-mail:</strong> <%=@user.email%></p>
  <%= simple_form_for @message do |f| %>
    <%= hidden_field_tag(:para, @user.id) %>
  <% end %>
  <p><a class="btn btn-primary" id="button" href=<%=new_message_path%>> Enviar Mensaje </a></p>
  <hr>
  <p><h3 id="cont">Expresiones:</h3></p>
  <div class="lista"> 
    <ol>
      <%(Frase.where user_id: @user.id).each do |frase|%>
        <li><h4 class="fracont"><strong><%= link_to "#{frase.descripcion}", frase_path(frase.id) %></strong></h4></li><br>
      <% end %>
    </ol>
  </div><hr>
<% end %>

</div>
<a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
<a class="btn btn-primary" id="button" href=<%=new_frase_path%>> Expresarme! </a><br><br>
  <br><%= simple_form_for @review do |f| %>
    <b><%= "Agregue un comentario acerca de este usuario!" %></b>
    <br><br><textarea class="text optional" cols="10" id="comentario_content" name="review[contenido]" rows="4" placeholder="Escribe un comentario..."></textarea><br>
    <%= hidden_field_tag(:perfil, @user.id) %>
    <input class="btn btn-primary" id="button" type="submit" value="Comentar">
  <% end %>

<div class="review">
  <br><h3 id="cont">Comentarios:</h3>
  <%(Review.where perfil: @user.id).sort{|x,y| x.created_at <=> y.created_at}.each do |comment|%>
    <div class="lista">
      <ol id="comment_list">
        <p><h4><%= link_to "#{User.find(comment.user_id).username}", user_path(comment.user_id) %> escribió</h4></p>
        <p><h4><%= comment.contenido %></h4></p>
        <div class="reporte" >
          <%= simple_form_for @notification do |f| %>
            <%= hidden_field_tag(:para, 1) %>
            <%= hidden_field_tag(:tipo, 1) %>
            <%= hidden_field_tag(:contenido, ("Comentario Indevido : " + comment.contenido + "  Usuario: " + User.find(comment.user_id).username + "   De: " + (logged_in? ? (current_user.username) : "Invitado")).to_s) %>
            <input class="btn btn-primary" id="button" type="submit" value="Reportar">
          <% end %>
        </div>
      </ol>
    </div>
  <% end %>
  <br><br>
</div>
</div>