<div class="principal">
	<div class="texto">
	<p>
		<br><br><br><br><br>
		Comparte lo que quieres <br> compartir!!!
		<br><br><br><br><br><br>
	</p>
	</div><br>
	<h1 class="jam">JAM-<br>Exprésate</h1><br><br><br>
	<div class="icono"></div>
	<div class="container" id="content1">
		<a class="btn btn-info" id="button" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Expresiones </a>
		<a class="btn btn-success" id="button" href=<%=ranking_path%>><i class="icon-star"></i> Ranking </a>
	</div>
</div>
<div class="pie">
	<div class="comeface">
		<div class="fb-comments" data-href="https://www.facebook.com/jamthebest221" data-num-posts="3" data-width="450"></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
	  	var js, fjs = d.getElementsByTagName(s)[0];
	  	if (d.getElementById(id)) return;
	  	js = d.createElement(s); js.id = id;
	  	js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
	  	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</div><br><br><br><br><br><br><br><br>
    <b class="acerca"><%= link_to "Acerca de Mí", about_path %></b>
    <b class="contacto"><%= link_to "Contáctanos", contact_path %></b>
    <b class="contador">
    	<!-- inicio codigo contador --><a href="http://contador-de-visitas.com"><img style="border: 0px solid ; display: inline;" alt="contador de visitas" 
  		src="http://contador-de-visitas.com/hit.php?id=1362923&counter=24"></a>
  <!-- fin codigo contador -->
		<b class="acerca"><%= link_to "Recomendación", recomendacion_path %></b>
</div>