<%= simple_form_for @frase, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :autor %>
  <%= f.input :descripcion %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                frases_path, :class => 'btn' %>
  </div>
<% end %>
