<div class="inicio">
  <h1 class="titulo">Frases XD</h1><br>
</div>
<div class="tabla">
<table class="table table-striped">
  <thead>
    <tr>
      <th>N°</th>
      <th>Autor</th>
      <th>Frase</th>
      <th>Usuario</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% if @frases %>
  <% @frases.each do |frase|%>
  <tbody>
    <tr>
      <td><%= frase.id %></td>
      <td><%= frase.autor %></td>
      <td><%= link_to Frase.find(frase.id).descripcion.slide(0..30) %></td>
      <td><%= link_to "#{User.find(frase.user_id).username}", user_path(frase.user_id) %></td>
      <td><a class="btn btn-info" href=<%=frase_path(frase.id)%>><i class="icon-eye-open icon-black"></i> Mostrar </a></td>
    </tr>
  </tbody>
  <% end %>
<% end %>
</table>


<br>
<br><a class="btn btn-inverse" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
<a class="btn btn-primary" href=<%=new_frase_path%>> Agregar Frase </a><br>
</div>
<div class="final"><br></div>