<div class="busqueda">
  <%= simple_form_for @search do |f| %>
    <%= f.text_field :descripcion_contains, :placeholder => 'Expresión a Buscar' %>
    <input class="btn btn-success" id="button" type="submit" value="Buscar!">
  <% end %>
</div>
<div class="inicio">
  <h1 class="titulo">Exprésate XD</h1><br>
</div>
<div class="tabla">
<table class="table table-striped">
  <thead>
    <tr>
      <th>N°</th>
      <th>Autor</th>
      <th>Frase</th>
      <th>Usuario</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% if @frases %>
  <% @frases.sort{ |x, y| y.id <=> x.id }.each do |frase|%>
  <tbody>
    <tr>
      <td><%= frase.id %></td>
      <td><%= frase.autor %></td>
      <td><%= Frase.find(frase.id).descripcion.slice(0..40) + ((Frase.find(frase.id).descripcion.size > 40) ? "..." : "") %></td>
      <td><%= link_to "#{User.find(frase.user_id).username}", user_path(frase.user_id) %></td>
      <td><a class="btn btn-info" id="button" href=<%=frase_path(frase.id)%>><i class="icon-eye-open icon-black"></i> Mostrar </a></td>
    </tr>
  </tbody>
  <% end %>
<% end %>
</table>


<br>
<br><a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
<a class="btn btn-primary" id="button" href=<%=new_frase_path%>> Expresarme! </a><br>
</div>
<div class="final"><br></div>