<div class="contenedor">
<div class="arriba"></div>
<div class="centro">
<p>
  <p class="centro" id="subido"><strong>Subido Por: </strong><%= link_to "#{User.find(@frase.user_id).username}", user_path(@frase.user_id) %></p>
  <p class="centro" id="frase" ><strong><%= "\"" + @frase.descripcion + " \""%></strong></p>
  <p class="centro" id="autor"><strong> <%=@frase.autor%></strong></p>
  <p class="centro" ><strong>Votos: <%= @frase.likes %></strong></p>
  <% if logged_in? && (current_user.id == @frase.user_id || (current_user.tipo.eql? "Administrador")) %>
    <a class="btn btn-danger" id="button" data-confirm="¿Seguro?" data-method="delete" href=<%=frase_path(@frase.id)%>><i class="icon-trash icon-white"></i> Borrar </a>
    <a class="btn btn-success" id="button" href=<%=edit_frase_path(@frase.id)%>><i class="icon-pencil icon-white"></i> Editar </a>
  <% end %><br><br>
  <% if logged_in? %>
  <%if !(@frase.user_likes.include? current_user.id.to_s) && @frase.user_id !=current_user.id%>
    <%= simple_form_for @frase do |f| %>
      <%= hidden_field_tag(:like, 1) %>
      <input class="btn btn-primary" id="button" type="submit" value="Me gusta">
    <% end %>
  <% end %>
  <% end %>
  <%= simple_form_for @notification do |f| %>
    <%= hidden_field_tag(:para, 1) %>
    <%= hidden_field_tag(:tipo, 1) %>
    <%= hidden_field_tag(:contenido, ("Frase Indevida : " + @frase.descripcion + "  Usuario: " + User.find(@frase.user_id).username + "   De: " + (logged_in? ? (current_user.username) : "Invitado")).to_s) %>
    <input class="btn btn-primary" id="button" type="submit" value="Reportar Frase">
  <% end %>
  <p>
    <%= simple_form_for @comment do |f| %>
      <%= "Comente Esta Frase XD" %>
      <br><br><textarea class="text optional" cols="10" id="comentario_content" name="comment[contenido]" rows="4" placeholder="Escribe un comentario..."></textarea><br>
      <%= hidden_field_tag(:frase_id, @frase.id) %>
      <input class="btn btn-primary" id="button" type="submit" value="Comentar">
    <% end %>
  </p>
</p>
<a class="btn btn-inverse" id="button" href=<%=frases_path%>><i class="icon-arrow-left icon-white"></i> Ver Expresiones </a><br>
<div class="review">
  <br> <h3 id="cont">Comentarios</h3><br>
  <%(Comment.where frase_id: @frase.id).sort{|x,y| y.id <=> x.id}.each do |comment|%>
    <ul id="review_list">
      <h4><%= link_to "#{User.find(comment.user_id).username}", user_path(comment.user_id) %> escribió:</h4>
        <p><h5><%= comment.contenido %></h5></p>
        <div class="reporte" >
          <%= simple_form_for @notification do |f| %>
            <%= hidden_field_tag(:para, 1) %>
            <%= hidden_field_tag(:tipo, 1) %>
            <%= hidden_field_tag(:contenido, ("Comentario Indevido : " + comment.contenido + "  Usuario: " + User.find(comment.user_id).username + "   De: " + (logged_in? ? (current_user.username) : "Invitado")).to_s) %>
            <input class="btn btn-primary" id="button" type="submit" value="Reportar">
          <% end %>
        </div>
    </ul>
  <% end %>
</div>
</div>
<div class="abajo"></div>
</div>